cloud_id                 = "b1gxxxxxxxxxxxxxxx"
folder_id                = "b1yyyyyyyyyyyyyyyyy"
zone                     = "ru-central1-a"
image_id                 = "fd8cmxxxxxxxxxxxxxxxx"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9bhevsvolv541ars58u"
service_account_key_file = "path/to/key.json"
private_key_path         = "~/.ssh/appuser"
instance_count = 1
